<h1 class="col-sm-8">Chỉnh sửa sách</h1>
<h2 class="col-sm-8" style="color: #34e0ef">{{message}}</h2>
<form [formGroup]="editBookForm">
  <div class="form-group w-75 p-3">
    <label><h5>Tiêu đề</h5></label>
    <input type="text" class="form-control" formControlName="title" placeholder="Tiêu đề">
    <div class="form-group">
      <label><h5>Tác giả</h5></label>
      <input type="text" class="form-control" formControlName="author" placeholder="Tên tác giả">

    </div>
    <div class="form-group">
      <label for="description"><h5>Mô tả</h5></label>
      <textarea type="text" class="form-control" formControlName="description"
                id="description" aria-describedby="emailHelp" placeholder="Mô tả" rows="5">
      </textarea>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
      <button class="btn btn-success" routerLink="">Back</button>
    </div>
  </div>

</form>

